#searchBar{
  --ion-background-color: #3B7E88 !important;
  // color: white;
}

.cardStyle{
  border: 20px;
  --ion-background-color: #3B7E88;
  span{
    color: white;
    font-weight: 300;
  }
}

#temp{
  font-weight: 300;
  font-size: 4em;
  margin: 5px;
}

#locationIcon{
  color: #F6B844;
}

#date{
  color: #F6B844;
}

.spinner{
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
